---
---

@import "{{ site.theme }}";

body {
  background-color: #e4e3d3;
  color: #585858;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img-circle {
  border-radius: 50%;
}

.image-outline {
  border: 2px solid #000000;
}

.center-text {
  text-align: center;
}

a { 
  color: #7C4693;
}

a:hover {
  color: #8f45af;
}
